.form {
    margin-bottom: clamp(30px, calc(20px + 2.2%), 50px);
    background-color: #1f30cb;
    padding: 16px 8px;
    color: white;
    translate: 0 50px;
    transition: 2s;
    opacity: 0;

    & .form__input-container {
        grid-column: 1/-1;
        width: 100%;
    }

    & .form__input-container:nth-of-type(2) {
        @media (min-width: 550px) {
            grid-column: 2;
        }   
    }
    & .form__input-container:nth-of-type(1) {
        @media (min-width: 550px) {
            grid-column: 1;
        }   
    }

    &.show {
        translate: 0;
        opacity: 1;
    }

    & input,
    textarea {
        border-radius: 20px;
        padding: 4px 10px;
        color: black;
        width: 100%;
    }

    & button {
        padding: 5px 0;
        border-radius: 20px;
    }

    .error {
        color: rgba(239, 10, 10, 0.805);
        position: absolute;
        bottom: -15px;
        left: 10px;
        font-size: 12px;
    }
}

.form__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    row-gap: 25px;
    column-gap: 10px;
    justify-content: center;
}

.form__title {
    text-align: center;
    font-size: clamp(22px, calc(15px + 0.7vw), 25px);
    padding-bottom: 20px;
}

.form__question {
    grid-column: 1/-1;
}

.form__reset {
    background-color: #870909;
    @media (min-width: 1200px) {
        &:hover {
            background-color: #cd1717;
            color: rgb(0, 0, 0);
            transition: color 0.5s ease 0s;
        }
    }
}

.form__send {
    background-color: #209149;

    @media (min-width: 1200px) {
        &:hover {
            background-color: #0cbc4d;
            color: rgb(36, 134, 194);
            transition: color 0.5s ease 0s;
        }
    }
}
