.my-slider {
    margin-bottom: 40px;
}

.slide img {
    border-radius: 32px;
}

.slideNummer {
    position: relative;
    z-index: 1;
    color: rgb(188, 43, 43);
    display: flex;
    align-items: center;
    
    width: 120px;
    height: 32px;
    
    background-color: rgba(255, 255, 255, .4);
    color: black;
    
    padding-left: 32px;
    
    border-radius: 32px 0 32px 0;
    border-right: 2px solid rgba(255, 255, 255, .4);
    border-bottom: 2px solid rgba(255, 255, 255, .4);
}

.slider__wrapper {
    & img {
        height: 80vh;
        aspect-ratio: 16/7;
    }
}

.slide__title {
    text-align: center;
    padding-top: 10px;
    color: white;
}

.slider__btn-left,
.slider__btn-right {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: 18px;
    z-index: 5;
    height: 27px;
    border-radius: 50%;
    background-color: var(--blue);

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        background-color: #fff;
    }
}

.slider__btn-right::after {
    right: 10%;
    rotate: 45deg;
    top: 36%;
}

.slider__btn-right::before {
    right: 10%;
    rotate: -45deg;
    top: 58%;
}

.slider__btn-left::after {
    rotate: -45deg;
    left: 30%;
    top: 36%;
}

.slider__btn-left::before {
    rotate: 45deg;
    left: 30%;
    top: 58%;
}

.slider__btn-left {
    left: 5px;
}

.slider__btn-right {
    right: 5px;
}
